<div class="row">
  <div class="col-md-2">
    <strong>Name:</strong>
  </div>
  <div class="col-md-10">
    {{user.name}}
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <strong>Email:</strong>
  </div>
  <div class="col-md-10">
    {{user.email}}
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <strong>Role:</strong>
  </div>
  <div class="col-md-10">
    {{user.user_type}}
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <a routerLink="/users" class="btn btn-secondary">Go back</a>
  </div>
</div>