<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Login</h1>
      <form (submit)="submitLogin()">
        <div class="form-group">
          <label for="username">Username</label>
          <input class="form-control" type="text" placeholder="username" name="username" [(ngModel)]="data.username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" type="password" placeholder="password" name="password" [(ngModel)]="data.password">
        </div>
        <div class="form-group" *ngIf="error">
          <div id="error" class="alert alert-danger" role="alert">
            incorrect username/password
          </div>
        </div>
        <div class="form-group">
        <button id="submitBtn" class="btn btn-primary">Log in</button>
        </div>
      </form>
    </div>
  </div> 
</div>
